Source: signon-ui
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: dbus-test-runner,
               debhelper (>= 8.0.0),
               gdb,
               libaccounts-qt-dev,
               libnotify-dev,
               libproxy-dev,
               libqtwebkit-dev,
               libsignon-qt-dev,
               libx11-dev,
               libxext-dev,
               pkg-config,
               signon-plugins-dev,
               xvfb,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/signon-ui
# If you aren't a member of ~online-accounts but need to upload packaging changes,
# just go ahead.  ~online-accounts will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~online-accounts/signon-ui/trunk

Package: signon-ui
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Single Sign-on UI
 UI for the signond Single Signon service
