#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

override_dh_auto_configure:
	dh_auto_configure -- "CONFIG+=force-foreign-qwindow" \
		"CONFIG+=use-webkit2" \
		"HTTP_WARNING_HELP=help:web-credentials/http-warning"

override_dh_install:
	rm -f debian/*/usr/bin/signon-ui-unittest
	dh_install --fail-missing

%:
	dh $@
